*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFF;
  line-height: 1.5;
  letter-spacing: 0.02em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
  color: #FFF;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

h2 {
  color: #2E2F42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

/* ==============INTERACTIVE================ */
.header-link {
color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}

.address-link {
  color: #434455;
}

.header-link:hover, 
.header-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404BBF
}

.address {
  font-style: normal;
  margin-left: auto;
}

.button:hover, 
.button:focus {
  background-color: #404BBF;
}

/* ==============MAIN================ */

.logo {
  color:#4D5AE5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-span-two {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.solutions {
  background-color: #2E2F42;
}

.solutions-container {
    border: 2px dashed #F4F4FD;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  background-color: #4D5AE5;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.team-list {
 color: #2E2F42;
 font-size: 20px;
 font-weight: 500;
 line-height: 1.20;
 letter-spacing: 0.02em;
}

.about-team {
  background-color: #F4F4FD;
}

.footer {
  background-color: #2E2F42;

}

.footer-txt {
  color: #F4F4FD;
}

.our-team-list {
  background-color: #FFFFFF;
}

.person-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* ==============BORDER and FLEX================ */

.header a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header{
  display: flex;
  margin: 0 auto;
}

.container-header {
  display: flex;
  gap: 40px;
  align-items: center;
}

.container-navigation {
  display: flex;
}
